<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Place_name</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/place.css')}}" />
</head>
<body>
    <div id="content">
        <div id="top-bar"></div>
        <div id="container">
            <div class="scroll_left">
                {% for loc in locrev %}
                <div class="a"><b>{{loc.Place}}</b></div>
                <div id="rev_box">
                    {% for r in loc.review %}
                    <div class="top_margin">
                        <div class="a" font-size="20px"> {{r.Title}}</div>
                        <div id="myProgress"><div id="myBar"style="width:calc({{r.Score}}% * 10)"></div></div>
                        <div class="box">{{r.ReviewText}}</div>
                        <div class="username">{{r.user.Username}}</div>
                    </div>
                    {% endfor %}
                </div>
                    {% endfor %}
            </div>

            <div class="scroll_right">
                {% for loc in locrev %}
                <div class="a"><b>{{loc.Place}}</b></div>
                <div>
                    {% for p in loc.picture %}
                        <img src="http://127.0.0.1:5000/api/static/image/{{p.ImageName}}.png" alt="Simply Easy Learning" width="200" height="200">
                    {% endfor %}
                </div>
                {% endfor %}
                <div/>
            </div>
        </div>
    </div>

</body>
</html>