<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Place_name</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/place.css')}}" />
</head>
<body>
    <div id="content">
        <div id="top-bar"></div>
        <div id="container_left">
            <div class="scroll_left">
                {% for loc in locrev %}
                <b>{{loc.Place}}</b>
                <div>
                    {% for r in loc.review %}
                    <div>
                        {{r.Title}}
                        {{r.Score}}
                        <div>
                            {{r.ReviewText}}
                        </div>
                    </div>
                    {% endfor %}
                            </div>
                    {% endfor %}
                </div>

                <div class="scroll_right">
                    {% for loc in locrev %}
                    <b>{{loc.Place}}</b>
                    <div>
                        {% for r in loc.review %}
                        <div>
                            {{r.Title}}
                            {{r.Score}}
                            <div>
                                {{r.ReviewText}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div/>
            </div>
        </div>
    </div>

</body>
</html>