{% extends "ground.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/place.css')}}" />
{% endblock %}
{% block content %}
    <div id="content">
        <div id="container">
            <div class="scroll_left">
                {% for loc in location %}
                    <div class="place_box">
                        <div class="align_center"><a href="../map?location_id={{ loc.Id }}"><b>{{loc.Place}}</b></a></div>
                    </div>
                    <div id="rev_box">
                        {% for r in loc.review %}
                            <div class="top_margin">
                                <div class="align_center" font-size="20px"><a>{{r.Title}}</a></div>

                                <div class="box">{{r.ReviewText}}</div>
                                <div id="myProgress"><div id="myBar"style="width:calc({{r.Score}}% * 10)"></div></div>
                                <div class="username"><a>{{r.user.Username}}</a></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="scroll_right">
                {% for loc in location %}
                    <div class="align_center "><p class="place_box" style="margin-bottom: 0px;"><a><b>{{loc.Place}}</b></a></p></div>
                    <div class="align_center">
                        <div class="pic_box" style="margin-left: 5%; margin-right: 5%">
                            {% for p in loc.picture %}
                                <a><img src="http://127.0.0.1:5000/api/static/image/{{p.FileName}}" width="200" height="200"></a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}