{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <label class="label">E-mail
                        <input class="input is-large" type="email" name="Email" placeholder="Your Email" autofocus="">
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label">Username
                        <input class="input is-large" type="name" name="Username" placeholder="Your User Name" autofocus="">
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label">Password
                        <input class="input is-large" type="password" name="Password" placeholder="Your Password">
                    </label>
                    <p class="help" style="font-weight: 400">Password instructions here, you curmudgeon.</p>
                </div>
            </div>

            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
{% endblock content %}
