html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: mediumaquamarine;
}

.sidebar-image {
    flex:none;
    box-sizing: border-box;
    border-radius: 7%;
    border: rgba(0, 0, 0, 0.3) 1px solid;
    width: calc((100% / 3) - 8px);
    padding: 2px;
    margin: 4px;
    background-color: gainsboro;
}


#sidebar-image-header {
    text-align: center;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

#sidebar-image-header > h4 {
    color: darkcyan;
    font-family: 'monospace';
    margin: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0,0,0,0.1);
}

#sidebar-image-container {
    margin: 20px 10px 10px;
    background-color: darkseagreen;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    border-radius: 1px;
}

#sidebar-image-group {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
}

#content {
    height: 100%;
}

#map {
    position: relative;
    margin-left: 300px;
    height: 100%;
}

#top-bar {
    height: 50px;
    width: 100%;
    background-color: darkseagreen;
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    box-sizing: border-box;
}

#sidebar {
    position: fixed;
    width: 300px;
    overflow-y: scroll;
    top: 50px;
    bottom: 0;
}

/* hide scrollbae */
#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    border-right: rgba(0, 0, 0, 0.1) solid 1px;
}


#container {
    height: calc(100% - 50px);
}


