html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: mediumaquamarine;
}

.sidebar-image {
    width: 100%;
}

#content {
   height: 100%;
}

#map {
    position: relative;
    margin-left: 300px;
    height: 100%;
}

#top-bar {
    height: 50px;
    width: 100%;
    background-color: pink;
}

#sidebar {
    position: fixed;
    width: 300px;
    overflow-y: scroll;
    top: 50px;
    bottom: 0;
}


#container {
    height: calc(100% - 50px);
}


