body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: mediumaquamarine;
}
#content {
   height: 100%;

}
#top-bar {
    height: 50px;
    width: 100%;
    background-color: pink;
}
#container_left{
    height: calc(100% - 50px);
    width: 100%;
}


#container {
    background-color: white;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 50px;
    bottom: 0;
    height: auto;
}


.scroll_left {
  float: left;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
}
.scroll_right {
  float: right;
  width: 40%;
  height: 100%;
  overflow-y: scroll;
}

.box {
  background: #CDF0F6;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  list-style-type: none;
  margin: 4px;
  padding: 2px;
}

#myProgress {
  width: 10%;
  background-color: red;
  float: right;
}

#myBar {
  width: 1%;
  height: 10px;
  background-color: green;
}