body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: mediumaquamarine;
}
#content {
   height: 100%;
}
#top-bar {
    height: 50px;
    width: 100%;
    background-color: darkseagreen;
}
#container {
    background-color: darkcyan;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 50px;
    bottom: 0;
    height: auto;
}



.scroll_left {
  float: left;
  width: 55%;
  height: 100%;
  overflow-y: scroll;
}
.scroll_right {
  width: 45%;
  height: 100%;
  overflow-y: scroll;
}

#rev_box{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 5%;
}
.box {
  background: white;
  border: 2px solid black;
  list-style-type: none;
}

#myProgress {
  width: 10%;
  background-color: red;
  float: right;
  border: 2px solid black;

}

#myBar {
  height: 10px;
  background-color: green;
}
div.username{
    float: right;
}
div.top_margin{
    margin-top: 3%;
}
div.a {
  text-align: center;
  font-size: 30px;
}